<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        big content boi, u're <%=  %>
    </h1> 
    <button onclick="logout()">logout</button>

    <script>
        async function logout(){
            const logoutFetch = await fetch("/logout")
            
        }
    </script>
</body>
</html>